exportPattern("^[[:alpha:]]+")
useDynLib(lcmm, .registration = TRUE, .fixes = "C_")
import(survival)
importFrom("grDevices", "rainbow", "rgb", "col2rgb")
importFrom("graphics", "axis", "hist", "lines", "matlines", "matplot",
           "mtext", "par", "plot", "points", "segments", "polygon")
importFrom("stats", "as.formula", "formula", "get_all_vars",
     "integrate", "median", "model.frame", "model.matrix",
     "na.fail", "na.omit", "na.pass", "pchisq", "pnorm", "qnorm",
     "quantile", "rnorm", "sd", "terms", "residuals", "vcov", "fitted","coef")

S3method(print,hlme)
S3method(summary,hlme)
S3method(plot,hlme)
S3method(postprob,hlme)
S3method(predictY,hlme)
S3method(estimates,hlme)
S3method(VarCov,hlme)
S3method(VarCovRE,hlme)
S3method(VarExpl,hlme)
S3method(fixef,hlme)
S3method(ranef,hlme)
S3method(coef,hlme)
S3method(vcov,hlme)
S3method(fitted,hlme)
S3method(residuals,hlme)

S3method(print,lcmm)
S3method(summary,lcmm)
S3method(plot,lcmm)
S3method(postprob,lcmm)
S3method(predictY,lcmm)
S3method(predictL,lcmm)
S3method(estimates,lcmm)
S3method(VarCov,lcmm)
S3method(VarCovRE,lcmm)
S3method(VarExpl,lcmm)
S3method(predictlink,lcmm)
S3method(fitY,lcmm)
S3method(fixef,lcmm)
S3method(ranef,lcmm)
S3method(coef,lcmm)
S3method(vcov,lcmm)
S3method(fitted,lcmm)
S3method(residuals,lcmm)


S3method(print,multlcmm)
S3method(summary,multlcmm)
S3method(plot,multlcmm)
S3method(postprob,multlcmm)
S3method(predictY,multlcmm)
S3method(predictL,multlcmm)
S3method(estimates,multlcmm)
S3method(VarCov,multlcmm)
S3method(VarCovRE,multlcmm)
S3method(VarExpl,multlcmm)
S3method(predictlink,multlcmm)
S3method(fitY,multlcmm)
S3method(fixef,multlcmm)
S3method(ranef,multlcmm)
S3method(coef,multlcmm)
S3method(vcov,multlcmm)
S3method(fitted,multlcmm)
S3method(residuals,multlcmm)

S3method(print,Jointlcmm)
S3method(summary,Jointlcmm)
S3method(plot,Jointlcmm)
S3method(postprob,Jointlcmm)
S3method(predictY,Jointlcmm)
S3method(estimates,Jointlcmm)
S3method(VarCov,Jointlcmm)
S3method(VarCovRE,Jointlcmm)
S3method(VarExpl,Jointlcmm)
S3method(predictL,Jointlcmm)
S3method(predictlink,Jointlcmm)
S3method(fitY,Jointlcmm)
S3method(fixef,Jointlcmm)
S3method(ranef,Jointlcmm)
S3method(coef,Jointlcmm)
S3method(vcov,Jointlcmm)
S3method(fitted,Jointlcmm)
S3method(residuals,Jointlcmm)

S3method(plot,dynpred)
S3method(plot,cuminc)
S3method(plot,predictL)
S3method(plot,predictY)
S3method(plot,predictlink)



S3method(print,epoce)
S3method(summary,epoce)
S3method(plot,epoce)

S3method(print,Diffepoce)
S3method(summary,Diffepoce)
S3method(plot,Diffepoce)



